 a{
    color:rgb(33, 180, 119);
    text-decoration: underline;
  }
  h1{
    color: rgb(141, 88, 8);
    font-size: 45px; text-align: center;
    border-bottom: 1px solid gray;
    margin:0;
    padding: 20px;
  }
  .goback {
    color: burlywood;
  }

  #army {
    font-size: 50px;
    color: burlywood;
  }